.button {
  display: block;
  margin: 20px auto;
  padding: 14px 40px;
  border-radius: 12px;
  width: 25%;
  font-size: 16px;
  font-weight: 400;
  color: rgb(255, 255, 255);
  background-color: rgb(190, 128, 99);
}

.button:hover {
  background-color: rgb(143, 143, 143);
}