.section {
    width: 55%;
    margin: 20px auto;
    border-radius: 10px;
}

.section--red {
    border: 3px double rgb(173, 33, 75);
}

.section--green {
    border: 3px dashed rgb(110 169 130);
}

.section--brown {
    border: 3px solid rgb(185 143 110);
}

.section__headline {
    display: block;
    text-align: center;
    margin-bottom: 0px;
    font-family: 'Lato', sans-serif;
}

.section__paragraph {
    display: block;
    text-align: center;
    padding: 10px;
    margin-top: 0px;
    margin-bottom: 10px;
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
}